/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #f4f4f4;
    color: #333;
    transition: background-color 0.3s, color 0.3s;
}

header {
    background: #333;
    color: white;
    padding: 2rem 0;
    text-align: center;
}

header h1 {
    margin-bottom: 1rem;
    font-size: 2.5rem;
}

nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline-block;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: #00bfa6;
}

.theme-toggle {
    position: fixed;
    top: 20px;
    right: 20px;
}

main {
    padding: 2rem;
}

.section {
    margin: 2rem 0;
}

.about {
    text-align: center;
    padding: 2rem 0;
}

.projects-grid {
    display: flex;
    gap: 2rem;
    justify-content: center;
}

.project-card {
    background: white;
    padding: 1.5rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    transition: transform 0.3s;
    max-width: 300px;
    text-align: center;
}

.project-card:hover {
    transform: scale(1.05);
}

.btn {
    display: inline-block;
    margin-top: 1rem;
    background: #333;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
}

.btn:hover {
    background-color: #00bfa6;
}

.skills-grid {
    display: flex;
    justify-content: center;
    gap: 2rem;
    flex-wrap: wrap;
}

.skill-item {
    text-align: center;
}

.skill-item i {
    font-size: 4rem;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 2rem 0;
}

.dark-mode {
    background-color: #1e1e1e;
    color: #f4f4f4;
}

.dark-mode header,
.dark-mode footer {
    background-color: #111;
}
